
<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<GridLayout class="page page-content" backgroundcolor="pink">
    <Label class="h2 topic" text="BMI Calculator" style="margin-left: 20%; margin-top:5%"></Label>
    
    <StackLayout >
    <Label class="h3 topic" text="Enter Your Age" style="margin-top:20%"></Label>
    <TextField hint="Enter Age" ></TextField>
    <Label class="h3 topic" text="Enter Your Weight" style="margin-top:7%"></Label>
    <TextField hint="Enter Weights" ></TextField>
    <Label class="h3 topic" text="Enter Gender" style="margin-top:7%"></Label>
    <ListPicker items="{{picklist}}" text="Gender"></ListPicker>
    

   

    
       
    </StackLayout> 
</GridLayout>